.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column;
    margin: 0 auto; /* Esto centra horizontalmente si el ancho es menor que el contenedor padre */
}


.result_box .icon {
    font-size: 100px;
    color: #fbfdff;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
}

.result_box .resul-buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .resul-buttons button {
    margin: 0 10px;
    height: 60px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c2c5c9;
    transition: all 0.3s ease;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin: 0 auto; /* Esto centra horizontalmente si el ancho es menor que el contenedor padre */
}

.resul-buttons button.restart {
    color: #fff;
    background: #190c97;
}

.resul-buttons button.restart:hover {
    background: #307bcc;
}

.resul-buttons button.quit {
    color: #ffffff;
    background: #ca1212;
}

.resul-buttons button.quit:hover {
    color: #fff;
    background: #f75c5c;
}

/* Estilos adicionales para imágenes u otros elementos */
.avatar {
    width: 70%;
    margin-left: 65px;
}